.info li {
  input {
    // background-color: #fff;
  }
}
.inputName {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
form{
  ul li{
    a{
      color: #f0c000;
    }
  }
}
